<h1>Mike's News Service</h1>

<input type="text" name="search" placeholder="Search articles">

<%= for article <- @articles do %>
  <a href="articles/<%= article.id %>"><p><%= article.title %></p></a>
<% end %>
